<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.filmscout.nasha.fs">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="android.support.customtabs, jp.wasabeef.glide.transformations"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.main.MActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.main.MainActivity" />
        <activity android:name=".app.main.LoginActivity" />
        <activity android:name=".app.main.RegisterActivity" />
        <activity android:name=".app.main.WelcomeActivity" />
        <activity android:name=".app.main.MyAccountActivity" />
        <activity android:name=".app.main.EditAccoutActivity" />
        <activity android:name=".app.main.AboutUsActivity" />
        <activity android:name=".app.main.HelpActivity" />
        <activity android:name=".app.main.WatchActivity" />
        <activity android:name=".app.main.SeenActivity" />
        <activity android:name=".app.main.PasswordActivity"/>
        <activity
            android:label="@string/app_name"
            android:parentActivityName=".app.main.MainActivity"
            android:name=".app.detail.DetailActivity"/>


    </application>

</manifest>